@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lato-Light";
    src: url(../fonts/Lato-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "Mont-Semi";
    src: url(../fonts/Montserrat-SemiBold.otf) format("opentype");
  }
  @font-face {
    font-family: "Mont-Bold";
    src: url(../fonts/Montserrat-SemiBold.otf) format("opentype");
  }
  @font-face {
    font-family: "Mont";
    src: url(../fonts/Montserrat-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "Dancing";
    src: url("../fonts/Dancing Script.ttf") format("truetype");
  }